<template>
  <div>
    <OrganismMenu />
    <OrganismParallax/>
    <OrganismTextCard
        :title="`About me`"
        :text="`Mijn naam is Dejorden Moerman, vorig jaar ben afgestudeerd bij de HvA bij de opleiding CMD. Momenteel werk ik als instructeur bij
    Media College Amsterdam en ben ik begonnen met mijn eigen bedrijf Andromeda Development.`"
    />
    <OrganismGallery/>
    <OrganismFooter/>
  </div>
</template>

<script>

import OrganismTextCard from '../components/Organisms/OrganismTextCard';
import OrganismFooter from "../components/Organisms/OrganismFooter";
import OrganismGallery from "../components/Organisms/OrganismGallery";
import OrganismParallax from "../components/Organisms/OrganismParallax";
import OrganismMenu from "../components/Organisms/OrganismMenu";

export default {
    name: 'Home',

    components: {
      OrganismMenu,
      OrganismTextCard,
      OrganismFooter,
      OrganismGallery,
      OrganismParallax
    },
  }
</script>
