<template>
  <div class="text-center">
    <v-menu offset-y>
      <template v-slot:activator="{ on, attrs }">
        <v-btn
            color="teal darken-3"
            dark
            v-bind="attrs"
            v-on="on"
        >
          Menu
        </v-btn>
      </template>
      <v-list>
        <v-list-item
            v-for="(item, index) in items"
            :key="index"
        >
          <v-list-item-title>{{ item.title }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </div>
</template>

<script>
export default {
  name: "MoleculeDropDown",
  data: () => ({
    items: [
      {title: 'About'},
      {title: 'Contact'},
      {title: 'Work'},
    ]
  })
}
</script>

<style scoped>
.text-center{
  padding-top: 20px;
  padding-bottom: 20px;
}
</style>