<template>
  <div>
    <v-card
      dark
      max-width="800px"
      hover
    >
      <h1 class="title">{{title}}</h1>
      <p class="text">{{text}}</p>
    </v-card>
  </div>
</template>

<script>
export default {
  name: "OrganismTextCard",
  props: {
    text: String,
    title: String
  }
}
</script>

<style scoped>
div{
  margin: 1em auto;
  padding: 1em;
}
</style>