//image by: Chil Vera from Pixabay
<template>
  <v-parallax
      dark
      height="800"
      :src="require('@/assets/images/polar-lights.jpeg')"
  >
    <v-row
        align="center"
        justify="center"
    >
      <v-col
          class="text-center"
          cols="12"
      >
        <OrganismInfo/>
      </v-col>
    </v-row>
  </v-parallax>
</template>

<script>

import OrganismInfo from "./OrganismInfo";

export default {
  name: "OrganismParallax",

  components:{
    OrganismInfo
  }
}
</script>

<style scoped>

</style>