<template>
    <v-footer
        dark
        padless
    >
      <v-card
          class="flex"
          flat
          tile
      >
        <v-card-title class="teal darken-3">
          <strong class="subheading">Connect with me on social networks!</strong>

          <v-spacer></v-spacer>

          <v-btn
              v-for="button in social"
              :key="button"
              class="mx-4"
              dark
              icon
              :href="button.url"
              target="_blank"
          >
            <v-icon size="24px">
              {{ button.icon }}
            </v-icon>
          </v-btn>
        </v-card-title>

        <v-card-text class="py-2 white--text text-center">
          {{ new Date().getFullYear() }} — <strong>Andromeda Development</strong>
        </v-card-text>
      </v-card>
    </v-footer>
</template>

<script>
export default {
  name: "OrganismFooter",
    data: () => ({
      social: [
        {
          icon: 'mdi-twitter',
          url: 'https://twitter.com/DDejorden'

        },
        {
          icon: 'mdi-linkedin',
          url: 'https://www.linkedin.com/in/dejorden-moerman-b669a5a2/'
        }
      ],
    }),
}

</script>

<style scoped>

</style>