<template>
  <div>
    <v-img
        :src="require('../../assets/logo.svg')"
        class="my-3"
        contain
        height="200"
    />
    <h1>Andromeda Development</h1>
    <h2>Creating Universes</h2>
  </div>
</template>


<script>
export default {
  name: "OrganismInfo"
}
</script>

<style scoped>
h1, h2{
  text-align: center;
  color: white;
}
</style>