<template>
  <v-card
      class="mx-auto overflow-hidden"
  >

      <v-toolbar dense dark color="teal darken-3" class="pa-0">
        <v-row>
          <MoleculeDropDown/>
          <v-col class="d-flex justify-space-around">
            <v-spacer></v-spacer>
            <v-toolbar-title class="white--text">Andromeda Development</v-toolbar-title>
          </v-col>
        </v-row>
      </v-toolbar>

      <v-spacer></v-spacer>

    <v-navigation-drawer
        v-model="drawer"
        absolute
        bottom
        temporary
    >
    </v-navigation-drawer>

  </v-card>
</template>

<script>

import MoleculeDropDown from '../Molecules/MoleculeDropDown'

export default {
  components: {
    MoleculeDropDown
  },
  data: () => ({
    drawer: false,
    group: null,
  }),

  watch: {
    group () {
      this.drawer = false
    },
  },
}
</script>

<style scoped>
.mx-auto {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.white--text{
  padding-top: 10px;
}

</style>