<template>
  <v-app>
    <v-main class="grey darken-4">
      <router-view/>
    </v-main>
  </v-app>
</template>

<script>

export default {
  name: 'App',

  data: () => ({
    //
  }),
};
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

  *{
      font-family: 'AbeeZee', sans-serif !important;
      color: aliceblue !important;
  }
</style>